/* Details */
.infoContainers {
    margin: 0px;
    background-color: white;
    width: 100%;
    max-width: 93%;
    height: 100%;
}
.details {
    font-size: 24px;
}
.iconsParents {
    padding: 40px;
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icons {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.iconsPic {
    width: 32px;
    margin-right: 10px;
}

.detailsList {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 0 auto;
}
.moreDetailsList {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
    /* margin-left: 40px; */
    margin: 0 auto;
}
.infoBody{
    width: 90%;
    margin:0 auto;
}
.floorplan {
    font-size: 24px;
    display: none;
}

.map {
    display: none;
}
.moreInfo {
    display: none;
}

.detLi {
    margin: 10px 30px;
    font-size: 20px;
}

.h2 {
    font-size: 24px;
}
.descriptionBody {
    text-align: center;
}

.p {
    text-align: center;
    padding: 10px 30px 40px 30px;
    font-size: 20px;
}

.propertieCardInfo {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.span{
    font-size: 24px;
}
.h2Description{
    margin-left: 50px;
    font-size: 24px;
}