.container{
    margin:0;
    height: 80px;
    background-color: rgba(47, 191, 236, 0.59);
    opacity: 59%;
    display: flex;
    justify-content: space-between;
}
.ul{
    display: flex;
    align-items: center;
    margin-right: 28px;
}
.li {
    display: inline;
    margin-right: 36px;
    text-transform: uppercase;
    font-weight: bold;
}
.li:hover{
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

a{
    text-decoration: none;
    color: white;
    font-size:20px;
}

.login{
    font-size: 22px;
    font-weight: bold;
}

h1{ 
    font-weight: bold;
    color: white;
    margin: 0 0 0 28px;
}

.loginField{
    display: none;
}