.container{
    margin:0;
    height: 80px;
    background-color: #018FF3;
    opacity: 100%;
    display: flex;
    justify-content: space-between;
}
.ul{
    display: flex;
    align-items: center;
    margin-right: 28px;
}
.li {
    display: inline;
    margin-right: 36px;
    text-transform: uppercase;
    font-weight: bold;
  font-family: 'Montserrat', sans-serif;

}
.li:hover{
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

a{
    text-decoration: none;
    color: white;
    font-size:20px;
    
}

.login{
    font-weight: bold;
}

.h1{ 
    font-weight: bold;
    color: white;
    font-size: 52px;
    margin: 10px 0 0 55px;
  font-family: 'Montserrat', sans-serif;

}

.loginField{
    display: none;
}

.img{
    width: 35px;
    margin: 10px 0 0 0 ;
}

.logout{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
}