.card{
    position: absolute;
    display: grid;
    grid-row: auto;
    width: 400px;
    height: 400px;
    background-color: white;
    top: 150px;
    right: 200px;
    border-radius: 10px;
 border-color:#018FF3;

}


header{
    display: flex;
    align-items: center;
    justify-content: center;
}

h4{
    font-size: 20px;
    font-weight: bold;
    margin-top:20px;
    
}

.imputs{
    display:flex;
    justify-content: space-evenly;
  font-family: 'Montserrat', sans-serif;
  border-color:  #018FF3;

}

.type{
    display: flex;
    justify-content: center;
    margin-top:20px;
 border-color: #018FF3;

}


.radio{
    display: flex;
    justify-content: space-evenly;
    margin:20px auto;
    font-size: 20px;
    
    
}
.location{
 height: 50px;
 width: 100px;
 border-color: #018FF3;

}

.typeflat{
    height: 50px;
    width: 200px;
    border-color: #018FF3;
}

.card button{
    justify-self: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #018FF3;
    border-radius: 50px;
    width: 200px;
    border:none;
    margin-bottom:40px;
 border-color: #018FF3;

}

.inputsEL{
 border-color: #018FF3;
}
.sortSelector{
    width: 150px;
    height: 30px;
    border: none;
    font-size: 18px;
    padding: 2px;
    border: 1px solid lightblue
}
.neButton{
    width: 150px;
    height: 30px;
    border: none;
    font-size: 18px;
    padding: 2px;
    border: 1px solid lightblue
}