.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    margin: 20px auto;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:20%;
    margin: 0 auto;
    background-color: white;
}
.container h1{
    margin: 20px 2px 0 0;
    align-self:center;
    color: black;
}


.formBody label {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

.formBody input {
    height: 5vh;
    width: 40vw;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    text-align:center;
}
.formBody button {
    margin: 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 20vw;
    border-radius: 20px;
    border: none;
    background-color: lightblue;
    color:white;
    padding: 10px 20px;
}
.formBody button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    font-size: 22px;
}


.register{
    align-self:center;
}
.register p{
    text-align: center;
    margin-bottom:20px ;
    padding-bottom:20px ;
}
.register a{
    color: black;
    text-decoration: underline;
    font-weight: bold;
    margin:0 0 27px 10px;
}

.link{
    font-weight: lighter;
    color: red;
    margin-right: 50%;
}

.joinUs{
    display: flex;
    justify-content: center;
    align-items: center;
}